{% extends "base.html" %}
{% load django_markdown %}

{% block title %}
    Blag | Home
{% endblock %}

{% block blog_posts %}

{% for object in object_list %}
    <div class="post">
        <h2><a href="{% url "post_detail" slug=object.slug %}">{{ object.title }}</a></h2>
        <p class="meta">
            {{ object.created_on }} |
            tagged under 
            {% for category in object.categories.all %}
                <a class="post-category post-category-js" href="{% url "category_index" slug=category.slug %}">{{ category }}</a>
            {% endfor %}
        </p>
    </div>
{% endfor %}

{% endblock %}
