{% extends "base.html" %}
{% load django_markdown %}

{% block blog_posts %}
    <div class="post">
        <h2><a href="{% url "post_detail" slug=object.slug %}">{{ object.title }}</a></h2>
        <p class="meta">
            {{ object.created_on }} |
            tagged under 
            {% for category in object.categories.all %}
                <a class="post-category post-category-js" href="{% url "category_index" slug=category.slug %}">{{ category }}</a>
            {% endfor %}
        </p>
        {{ object.text_html|safe }}

        <hr>

        {% if comment_list %}
        <h2>Comments</h2>
        {% endif %}
        {% for comment in comment_list %}
        <p class="meta">
            {{ comment.name }}
            on
            {{ comment.created_on }}
        </p>
        <p>{{ comment.text }}</p><br>
        <hr>
        {% endfor %}

        <h2>Add a comment</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>
            
    </div>
{% endblock %}
